//ARROW STYLES
.key_instruct{
  width: 100vw;
  color: #fff;
  position: fixed;
  bottom: 25vh;
  // left: 0;
  text-align: center;
}
.keys{
  stroke-width: 1;
  stroke: rgba(0,0,0,0.15);
  fill: rgba(0,0,0,0.7)
}
.arrows{
  // height: 25%;
}