//IMPORT MIXINS
@import 'mixins';
///////////////////////////////////////
//MAIN
///////////////////////////////////////
.main{
  height: 90vh;
}
///////////////////////////////////////
//FOOTER
///////////////////////////////////////
footer{
  //Position
  width: 100%;
  height: 15vh;
  position: fixed;
  bottom:0;
  //Style
  border: 2px solid black;
  background-color: rgba(0,0,0,1);
  //Text
  color: rgba(255,255,255,1);
}
/*//////////////////////////////////////////////////
////////////////////////////////////////////////////
/////CUSTOM STYLING - FRONT PAGE
///////////////////////////////////////////////////
//////////////////////////////////////////////////*/
.selects-holder{
  //Position
  width: 90%;
  float: left;
  margin-bottom: 750px;
  //Style
  color: rgba(255,255,255,1);
  .select-holder{
    //Position
    width: 70%;
    height: 350px;
    margin: 0 auto;
    margin-bottom: 290px;
    //Style
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-radius: 20px;
    opacity: 0.7;
    // box-shadow: 0 0 200px rgba(0,0,0,0.5) inset;
    //Transform
    transform: scale(0.5);
    transition: all 1s cubic-bezier(0.730, -0.250, 0.320, 1.250);
    -webkit-transition: all 1s cubic-bezier(0.730, -0.250, 0.320, 1.250);
    -moz-transition: all 1s cubic-bezier(0.730, -0.250, 0.320, 1.250);
    .title{
      //Position
      display: block;
      width: 100%;  
      // margin-top: 40px;
      //Style
      // border-bottom: 1px solid rgba(255,255,255,0.5); 
      //Text
      color: rgba(255,255,255,1);
      font-size: 2rem;
      opacity: 1;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      .name{
        width: 100%;
        display: block;
        font-size: 4rem;
        background: rgba(0,0,0,1);
        float: left;
        padding: 30px 40px 30px 30px;
        // border-left: 15px solid white;
        box-shadow: 2px 0 10px rgba(0,0,0,0.4); 
      }
      .wrap{
          width: 45%;
          // margin-left: 20px;
        .tech{
          font-size: 1.4rem;
          color: black;
          padding: 7px 0;
          border-top: 1px solid rgba(0,0,0,0.2);
          border-bottom: 1px solid rgba(0,0,0,0.2);
          float: left;
          // clear: both; 
          p{
            margin: 0;
            padding: 0;
          }
          a{
            color: rgba(0,0,0,1);
            padding-bottom: 2px;
          }
          a:hover{
            border-bottom: 1px solid rgba(0,0,0,1);
          }
        }
      }
      .excerpt{
          font-size: 1.4rem;
          line-height: 1.5;
          width: 100%;
          color: black;
          background: rgba(255,255,255,1);
          border-top: 7px solid black;
          margin-top: 30px;
          margin-bottom: 5px;
          box-shadow: 2px 0 10px rgba(0,0,0,0.4); 
          padding: 30px;
          float: left;
          clear: both;
          .e_text{
            float: left;
            display: block;
            padding-bottom: 15px;
          }
      }
      .try_it_out{
        margin-top: 15px;
        a{
          box-shadow: 2px 5px 10px rgba(0,0,0,0.4); 
          font-size: 1.8rem;
          display: inline;
          padding: 10px 28px;
          // width: 45%;
          color: rgba(255,255,255,1);
          background: rgba(0,0,0,1);
          float: left;
          display: block;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.75s ease;
        }
        a:hover{
          border-bottom: 7px solid black;
          display: block;
          width: 100%;
          padding: 15px 35px;
          background: rgba(255,255,255,1);
          color: rgba(0,0,0,1);
        }
        a:active{
          color: rgba(255,255,255,1);
          background: rgba(0,0,0,1);
        }
      }
    }
  }
}
.portfolios-nav{
  //Position
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-70%);
  -moz-transform: translateY(-70%);
  width: 10%;
  //Style
  .portfolio-nav{
    //Position
    width: 30px;
    height: 30px;
    margin: 15px auto;
    text-align: center;
    //Style
    border: 2px solid $tr_white;

    border-radius: 50%;
    background: $tr_white;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.35);
    //Text
    color: rgba(0,0,0,0);
  }
}
/*//////////////////////////////////////////////////
////////////////////////////////////////////////////
/////CUSTOM STYLING - SINGLE PAGE
///////////////////////////////////////////////////
//////////////////////////////////////////////////*/
.portfolio-upclose{
  width: 100%;
  height: 100%;
}
.ex-holder{
  //Postion
  float: left;
  width: 75%;
  height: 100%;
  //Style
  background: goldenrod;
  //Text
}

.info-holder{
  //Postion
  float: left;
  width: 25%;
  height: 100%;
  //Style
  background: mistyrose;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);

  //Text

  //Nested
  .info-holder-title{
    border: 1px solid rgba(0,0,0,0);
    height: 10%;
  }
  .info-holder-code{
    // border: 1px solid #000;
    height: 85%;
  }
  .desc{
    background: pink;
  }
  .js{
    background: yellow;
  }
  .html{
    background: red;
  }
  .css{
    background: blue;
  }

}
.code-nav{
  //Position
  height: 5%;
  //Style
  background: rgba(255,255,255,1);
  border-top: 1px solid rgba(0,0,0,1);
  //Text
  //Nested
  .nav-item-desc, .nav-item-js, .nav-item-html, .nav-item-css {
    //Position
    padding: 5px;
    float: left;
    width: 25%;
    height: 100%;
    //Style
    display: inline-block;
    border-right:1px solid rgba(0,0,0,0.4);
    //Text
    text-align: left;
    //Nested
  }
  .nav-item-css {
    border-right: none;
  }
}
///////////////////////////////////////
//GLOBAL & SCRIPT SPECIFIC STYLING
///////////////////////////////////////
.video{
  // background: mistyrose;
}
.hide{
  opacity:0!important;
}
.current-selection{
  background: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
}
.scale{
  transform: scale(1)!important;
  -webkit-transform: scale(1)!important;
  -moz-transform: scale(1)!important;
  height: 85vh!important;
  width: 100vw!important;
  opacity: 1!important;
  border-radius: 0!important;
}