#page {
background: none;
}

.vid_holder{
	position: absolute;
	width:100vw;
	height:100vh;
	display: flex;
	overflow: hidden;
}

.vid_holder video#bgvidin {
	position: fixed;
      // object-fit: contain;
      // object-fit: fill;
      -webkit-object-fit: cover;
      width:100%;
    }
